/* Header.css */

.section {
    text-align: center;
    padding: 20px;
    background-color: gainsboro;
    border-bottom: 1px solid #ddd;
}

.section img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.section h2 {
    font-size: 18px;
    color: black;
}