html {
  font-size: 16px;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: rgb(239, 239, 239);
}

.root_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin-top: 20px;
}

.footer {
  background-color: gainsboro;
  max-width: 1200px;
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;
}

.footer-content {
  font-size: 14px;
  font-weight: 800;
  color: #333;
}